header.header.header_main#header
	.container
		.header__link-wrap.header__link_main
			a.header__call.openModal Консультация юриста
			.header__mob
		.header__empty
		h1.header__title Возврат товара
		//- span.header__subtitle Возврат, обмен или устранение недостатков товара регулируются законом “О защите прав потребителей”
		include blocks/maintabs
			