.case__banner
    .banner__content
        .banner__list
            h4.banner__title Это интересно
            .bannerList__item Потребительские правонарушения входят в ТОП-10 сфер по обращению за юридической помощью (7е место)
            .bannerList__item Суды встают на сторону потребителя более чем в 80% случаев (источник: Исследование НАФИ)
        .banner__info
            .bannerInfo__content
                .bannerInfo__item 
                    span 85% 
                    br
                    | за потребителя
                .bannerInfo__item
                    .bannerInfo__image
                        img(src="./img/hammer.svg", alt="hammer")
                .bannerInfo__item 
                    span 15%
                    br
                    | за продавца