.cases#second
    .container
        .case__content
            h3.case__title Возврат некачественного товара
            //- p.case__mainText Большинство покупателей выбрасывает чеки сразу после приобретения товара, даже если речь идет не о бытовых покупках. Есть ли гарантия того, что товар удастся вернуть без чека?
            include toggler2
            include steps2
            .case__freeBlock
                include garanty
                include steps__timelist2_2
                p.stepsContent__text 
                    span.important__text Важно:
                    | Если это товар длительного пользования (холодильник, телевизор, посудомоечная машина и т.д.), то продавец обязан в течение 3х дней предоставить покупателю товар с аналогичным свойствами, обеспечив доставку за свой счет. Это правило распространяется не на все виды товаров 
                    a.download__btn(href="/docs/doc9.pdf" target="_blank") список товаров
                p.stepsContent__text(style="margin-top:10px;margin-bottom:42px") На период устранения недостатков приостанавливается течение гарантийного срока.
            include case__banner2
            include mainBtn__withText