.case__banner
    .banner__content
        .banner__list
            h4.banner__title Это интересно
            .bannerList__item 74% россиян считают, что каждый человек должен знать, как защитить свои права и куда обратиться в ситуациях их нарушения (Источник: Исследование НАФИ)
        .banner__info.banner__info_noimg
            .bannerInfo__content
                .bannerInfo__item
                    .bannerInfo__image
                        img(src="img/74image.svg", alt="hammer")
