.cases.casesMain#first
    .container
        .case__content.case__content_main
            span.header__subtitle Возврат, обмен или устранение недостатков товара регулируются законом “О защите прав потребителей”
            include stats
            h2.case__title Что важно знать, возвращая товар в магазин:
            include steps__listMain
            h2.case__title(style="margin-top: 80px") Как вернуть товар если
            include main__nav
            include mainBtn
            //- h2.case__title Товар не подошел, как вернуть?
            //- p.case__mainText Большинство покупателей выбрасывает чеки сразу после приобретения товара, даже если речь идет не о бытовых покупках. Есть ли гарантия того, что товар удастся вернуть без чека?
            //- include toggler
            //- include steps
            //- include case__banner
            //- .case__mini-block
                h3.case__minititle Обмен товара надлежащего качества на аналогичный
                .case__minicontent
                    p.miniContent__text В течение 14 дней, не считая дня покупки, потребитель вправе обменять в магазине «непонравившуюся» вещь на более подходящую.
                    p.miniContent__text Если аналогичный товар или желаемая модель отсутствуют в продаже на день обращения, то потребитель вправе отказаться от возможности обмена и потребовать возврата денежных средств.
                    p.miniContent__text 
                        span.important__text Важно:
                        | Обменять товар можно в том случае, если он не был в употреблении, сохранены его товарный вид, потребительские свойства, пломбы, фабричные ярлыки и т.д.
            //- include mainBtn__withText