.footer__contacts
    .container
        span.contacts__title © 2020 ООО «Национальная Юридическая Служба»
        .contacts__links
            a.contacts__link(href="tel:+74992151477") +7 499 215-14-77
            a.contacts__link(href="mailto:info@amulex.ru") info@amulex.ru