.footer__contacts
    .container
        span.contacts__title © 2020 ООО «Национальная Юридическая Служба»
        a.contacts__politic(href="./docs/pol.pdf" target="_blank") Политика оператора в отношении обработки персональных данных
        .contacts__links
            a.contacts__link(href="tel:+74992151477") +7 499 215-14-77
            a.contacts__link(href="mailto:info@amulex.ru") info@amulex.ru
    .top__btn 