.case__garanty
    h4.case__minititle Ремонт товара по гарантии
    p.stepsContent__text Обращаемся по месту совершения покупки с заявлением на устранение недостатков в товаре ненадлежащего качества на имя генерального директора организации-продавца
        a.download__btn(href="/docs/doc5.pdf") скачать шаблон