.header__tabs
	.tabs__container
		a.tabs__item(href="./" data-target="#first")
			.tabs__image
				img.tabs__img(src="./img/tab1.svg", alt="tab1")
			.tabs__text Товар не подошел
		a.tabs__item(href="./tovar_ne_nadlejashego_kacestva.html" data-target="#second")
			.tabs__image
				img.tabs__img(src="./img/tab3.svg", alt="tab1")
			.tabs__text Товар ненадлежащего качества
		a.tabs__item(href="./tovar_kuplen_v_internete.html" data-target="#third")
			.tabs__image
				img.tabs__img(src="./img/tab2.svg", alt="tab1")
			.tabs__text Товар куплен в интернет магазине