.main__nav
    .navi__list
        a.navi__item(href="./tovar_ne_podoshel.html")
            .navi__image
                img.navi__img(src="./img/tab1.svg" alt="tab")
            .navi__text Товар не подошел
        a.navi__item(href="./tovar_ne_nadlejashego_kacestva.html")
            .navi__image
                img.navi__img(src="./img/tab2.svg" alt="tab")
            .navi__text Товар ненадлежащего качества
        a.navi__item(href="./tovar_kuplen_v_internete.html")
            .navi__image
                img.navi__img(src="./img/tab3.svg" alt="tab")
            .navi__text Товар куплен в интернет магазине