.modal
    .modal__layout
    .modal__wrapper
        form(action="#").modal__block
            h5.modal__title Консультация с юристом 
            span.modal__close
            span.modal__subtitle Оставьте номер телефона и юрист компании перезвонит Вам в течение нескольких минут
            label.input__wrapper(for="modalTel")
                span.input__title Номер телефона
                input.modal__input#modalTel(type="tel")
            input.hidden#modal_check(type="checkbox")
            label.modal__accept(for="modal_check") Согласен на 
                a.modal__link(href="./docs/agreement.pdf" target="_blank") обработку персональных данных
            a.modal__send Получить консультацию
