.question
    .container
        .question__block
            .question__main
                span.question__title Остались вопросы?
                p.question__text Задайте их юристу! Это бесплатно.
                form.question__form(action="#")
                    .form__wrapper
                        label.form__label(for="tel")
                            span.input__title Номер телефона
                            input.form__input#tel(type="tel")
                        a.form__btn Отправить
                    input.hidden#check_hidden(type="checkbox")
                    label.check__label(for="check_hidden") Согласен на 
                        a.form__link обработку персональных данных
            .question__image
                p.questionImg__text Оставьте свой номер и мы свяжемся с Вами в течение 5 минут.