.social
    .social__text Поделитесь ссылкой на статью
    .social__wrapper
        .social__item.social__item_vk(onclick="window.open('https://vk.com/share.php?url=https://amulex.ru/vozvrat-tovara/?utm_source=vk&','sharer','toolbar=0,status=0,width=600,height=385');")
            img.social__img(src="./img/vk.svg", alt="vk")
        .social__item.social__item_fb(onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('https://amulex.ru/vozvrat-tovara/')+ '&utm_source=fb&amp;src=sdkpreparse&app_id=','sharer','toolbar=0,status=0,width=600,height=325');")
            img.social__img(src="./img/fb.svg", alt="fb")
        //- .social__item.social__item_tg(onclick="window.open('https://telegram.me/share/url=`https://amulex.ru/#feedback-section`')")
        //-     img.social__img(src="./img/telegram.svg", alt="telegram")
        .social__item.social__item_tg(onclick="window.open('tg://msg?url=`https://amulex.ru/vozvrat-tovara/`')")
            img.social__img(src="./img/telegram.svg", alt="telegram")
        .social__item.social__item_wu(onclick="window.open('https://wa.me/?text='+encodeURIComponent('https://amulex.ru/vozvrat-tovara/'))")
            img.social__img(src="./img/whatsup.svg", alt="whatsup")