.social
    .social__text Поделитесь ссылкой на статью
    .social__wrapper
        .social__item.social__item_vk
            img.social__img(src="img/vk.svg", alt="vk")
        .social__item.social__item_fb
            img.social__img(src="img/fb.svg", alt="fb")
        .social__item.social__item_tg
            img.social__img(src="img/telegram.svg", alt="telegram")
        .social__item.social__item_wu
            img.social__img(src="img/whatsup.svg", alt="whatsup")
            