.stats
    .stats__list
        .stats__item
            .stats__image
                img.stats__img(src="./img/85img.svg", alt="83%")
            .stats__content
                .stats__toptext %
                .stats__text В 85% случаев суды встают на сторону потребителя
        .stats__item
            .stats__image
                img.stats__img(src="./img/31img.svg", alt="31%")
            .stats__content
                .stats__toptext МЛН.
                .stats__text 31 921 655 353 рублей взыскали суды в пользу потребителей
    span.stats__info По данным Судебного департамента за 2018 год (
        a.stats__infoLink(href="http://www.cdep.ru/index.php?id=79") ссылка на источник
        |)