.stats
    .stats__list
        .stats__item
            .stats__image
                img.stats__img(src="./img/85img.svg", alt="85%")
            .stats__content(style="margin-bottom: 45px")
                .stats__toptext %
                .stats__text В 85% случаев суды встают на сторону потребителя
        .stats__item
            .stats__image
                img.stats__img(src="./img/31img.svg", alt="31")
            .stats__content
                .stats__toptext МЛН.
                .stats__text Более 31 млн. рублей взыскали суды в пользу потребителей 
                    a.download__btn(href="http://www.cdep.ru/index.php?id=79" target="_blank" style="margin-top: 10px") смотреть
                span.stats__text(style="font-size: 12px") (* данные судебной статистики)
    //- span.stats__info По данным Судебного департамента за 2018 год (
    //-     a.stats__infoLink(href="http://www.cdep.ru/index.php?id=79") ссылка на источник
    //-     |) 