ul.steps__list
    li.stepsList__item Гарантийный срок — период, в течение которого в случае обнаружения в товаре недостатка продавец обязан удовлетворить требования потребителя по ремонту или замене товара
    li.stepsList__item Срок годности — период, по истечении которого товар может потерять потребительские свойства. Сроки годности устанавливаются на продукты питания, парфюмерно-косметические товары, медикаменты, товары бытовой химии и подобные товары, которые по истечении определенного срока могут быть опасными для человека
