.steps__wrapper
    .steps__item
        span.steps__title Сроки
        .steps__content
            .stepsContent__text 1. Потребитель может заявить продавцу о недостатке товара в течение гарантийного срока (или срока годности)
                a.tooltip(data-text="*Ст. 19 Закона «О защите прав потребителей»")
                    .tooltip__inside
                        img(src="../img/book.svg", alt="book")
            include steps__list2
            p.stepsContent__text 2. Если гарантийный срок или срок годности не установлены, то потребителю предоставлено 2 года на обнаружение недостатков приобретенного товара
    .steps__item
        span.steps__title Обращение к продавцу
        .steps_content
            p.stepsContent__text Продавец обязан принять бракованный товар и, в случае необходимости, провести проверку качества. Потребитель имеет право участвовать в проверке качества товара.
            p.stepsContent__text 
                span.important__text Важно:
                | Доставка крупногабаритного товара и товара весом > 5кг для ремонта, уценки, замены и (или) возврата их обратно потребителю осуществляется силами и за счет продавца. Потребитель может взять эту обязанность на себя, в этом случае продавец должен возместить все расходы.
            h4.case__minititle Экспертиза товара ненадлежащего качества
            p.stepsContent__text Что нужно знать:
            include steps__list2_2
            include mainBtn
    .steps__item
        span.steps__title Замена товара или устранение его недостатков
        h4.case__minititle Замена товара ненадлежащего качества
        p.stepsContent__text Обращаемся по месту совершения покупки с заявлением о замене некачественного товара на имя генерального директора организации-продавца
            a.download__btn(href="../docs/doc6.pdf" target="_blank") скачать шаблон
        .steps__content
            include steps__timelist2
        p.stepsContent__text За нарушение сроков продавец платит потребителю неустойку — 1% от цены товара за каждый день просрочки.
        p.stepsContent__text
            span.important__text Важно:
            | Товар, предоставляемый покупателю взамен бракованного, должен быть абсолютно новым, не бывшим в употреблении. Гарантийный срок на него исчисляется заново, со дня передачи нового товара потребителю.
        