ul.steps__list
    li.stepsList__item "Закон о защите прав потребителя" защищает только в том случае, если товар был приобретен для личного или семейного пользования.
    li.stepsList__item Вернуть товар без чека 
        b можно!
    li.stepsList__item Возврат товара возможен день в день, даже если он просто не подошел. В зависимости от ситуации, процесс возврата или обмена может отличаться.
    li.stepsList__item Чаще всего, продавцы идут навстречу потребителю, не доводя дело до суда.
    li.stepsList__item Не все товары можно вернуть обратно в магазин, даже если они исправны.
        a.download__btn(href="#") ссылка на перечень
