.steps__timelist
    ul.timelist
        li.timelist__item 
            span.timelist__title 3 дня
            p.timelist__text срок, в течение которого требование покупателя о возврате денежных средств должно быть удовлетворено
        li.timelist__item
            span.timelist__title 10 дней
            p.timelist__text фактический срок, в течение которого могут поступить средства, если оплата была произведена банковской картой (P.S. Зависит от банка, с которым работает магазин)            