.steps__timelist
    ul.timelist
        li.timelist__item 
            span.timelist__title 7 дней
            p.timelist__text срок, в течение которого продавец обязан заменить бракованый товар
        li.timelist__item
            span.timelist__title 20 дней
            p.timelist__text срок, в течение которого продавец обязан провести проверку качества товара, если это необходимо
        li.timelist__item
            span.timelist__title 1 месяц
            p.timelist__text ссрок, в течение которого продавец обязан заменить бракованый товар, если аналогичный отсутствует
            