ul.steps__list
    li.stepsList__item Обращаемся по месту совершения покупки;
    li.stepsList__item Пишем Заявление на возврат: в качестве причины указываем критерии по которым товар не подходит (форма, габариты, фасон, расцветка, размер, комплектация); 
        a.stepsList__link.download__btn(href="/docs/doc10.pdf" target="_blank") cкачать шаблон
    li.stepsList__item Предъявляем чек. Можно ли вернуть товар без чека? Да, но необхоимо доказать факт покупки (выписки с банковских карт, электронные сообщения, запросить записи с камер видеонаблюдения, использовать свидетельские показания)
        a.tooltip(data-text="*П. 43 Постановления Пленума Верховного суда РФ от 28 июня 2012 года № 17 «О рассмотрении судами гражданских дел по спорам о защите прав потребителей»")
                    .tooltip__inside
                        img(src="/img/book.svg", alt="book")