.steps__timelist
    ul.timelist
        li.timelist__item 
            span.timelist__title.timelist__title_warning 14 дней
            p.timelist__text важно помнить, что стандартный срок возврата в данном случае 
                b не применяется
        li.timelist__item
            span.timelist__title в любое время
            p.timelist__text отказаться от товара можно в любой момент, 
                b до его получения
        li.timelist__item
            span.timelist__title 7 дней
            p.timelist__text срок, в течение которого можно отказаться от товара, 
                b после его получения.
            p.timelist__text Информацию о порядке возврата и сроках интернет-магазин должен сообщить покупателю при доставке (в письменной форме)
        li.timelist__item
            span.timelist__title 3 месяца
            p.timelist__text срок, в течение которого можно отказаться от покупки, если информация о порядке возврата и сроках представлена не была (в письменной форме)
