.steps__columnList
    p.columnList__text Споров с продавцом возникнуть не должно, так как перечень причин возврата достаточно обширный, но придумывать поводы самостоятельно не следует:
    .columnList__list
        .columnList__col
            .col__item Шапка вышла из моды
            .col__item Шапка не подошла по фасону
        .columnList__col
            .col__item Кроссовки не сочетаются с джинсами
            .col__item Кроссовки не подошли по размеру/не того цвета