.steps__timelist
    ul.timelist
        li.timelist__item 
            span.timelist__title 45 дней
            p.timelist__text максимальный срок, в течение которого продавец должен устранить заявленные недостатки товара. За нарушение сроков продавец несет ответственность
            