ul.steps__list
    li.stepsList__item Направляем продавцу соответствующую претензию
        a.tooltip(data-text="Рекомендуем направлять претензию заказным письмом с уведомлением о вручении и описью вложения)")
                    .tooltip__inside
                        img(src="../img/book.svg", alt="book")
        br
        a.stepsList__link.download__btn(href="../docs/doc10.pdf" target="_blank") cкачать шаблон
    li.stepsList__item 10 дней — срок, в течение которого продавец должен вернуть денежные средства;
    li.stepsList__item Если продавец в указанный срок не вернул денежные средства, то у покупателя возникает право на обращение в суд. При обращении в суд дополнительно можно потребовать возмещения убытков, неустойку за нарушение сроков (1% от стоимости товара за каждый день просрочки), компенсацию морального вреда.