ul.steps__list
    li.stepsList__item Экспертиза может быть назначена, если возник спор о причинах возникновения недостатков товара;
    li.stepsList__item Экспертиза проводится за счет продавца;
    li.stepsList__item Покупатель может присутствовать при проверке качества;
    li.stepsList__item Заключение экспертов по итогам экспертизы можно оспорить в суде;
    li.stepsList__item Если экспертиза установит, что виновником поломки товара все-таки был покупатель, то он обязан возместить продавцу расходы на хранение, транспортировку и саму экспертизу товара.