ul.steps__list
    li.stepsList__item Сообщить продавцу о недостатках товара с требованием об их устранении можно в течение всего гарантийного срока (или срока годности);
    li.stepsList__item Правила передачи товара продавцу у каждого интернет-магазина индивидуальны;
    li.stepsList__item Срок устранения недостатков не может превышать 
        span(style="font-weight: bold") 5ти дней.