.steps__wrapper
    .steps__item
        span.steps__title Сроки
        .steps__content
            include steps__timelist3
    .steps__item
        span.steps__title Обращение к продавцу
        .steps__content
            p.stepsContent__text Информацию о порядке возврата и сроках интернет-магазин должен сообщить покупателю при доставке (в письменной форме).
            p.stepsContent__text Эта информация должна содержать адрес, по которому можно обратиться с вопросом возврата товара, а так же его режим работы. Как правило, для возврата или замены товара, интернет-магазины используют следующие варианты: через курьера, через пункт самовывоза, через постамат.
            p.stepsContent__text Крупная компания: При обращении в крупный интернет-магазин проблем возникнуть не должно. Обратиться с вопросом возврата/замены товара можно по любому доступному каналу связи.
            p.stepsContent__text Небольшая и неизвестная компания: Как правило, на сайте любого интернет-ресурса должна быть расположена юридическая информация о владельце, в том числе и контактный номер телефона.
    .steps__item
        span.steps__title Возврат денег за качественный и некачественный товар.
        .steps__content
            h4.case__minititle Если товар не подошел.
            p.stepsContent__text При каких условиях возможен возврат товара?
            include steps__list3
            p.stepsContent__text 
                span.important__text Важно:
                | Расходы за доставку товара обратно продавцу несет покупатель (придётся нанимать курьера или направлять по почте).
            p.stepsContent__text Срок возврата денежных средств: 10 дней. 
            h4.case__minititle Если товар бракованый.
            p.stepsContent__text Потребитель имеет право, в случае обнаружения в товаре недостатков, требовать возврата уплаченных за этот товар денежных средств.
            include steps__list3_1
    .steps__item
        span.steps__title Замена товара или устранение его недостатков.
        .steps__content
            p.stepsContent__text Если купленный товар оказался бракованный, его можно обменять или обратиться к продавцу с просьбой об устранении недостатков.
            h4.case__minititle Замена товара:
            include steps__list3_2
            h4.case__minititle Устранение недостатков:
            include steps__list3_3
            p.stepsContent__text 
                span.important__text Важно:
                | Доставка крупногабаритного товара и товара весом более 5 кг для замены или устранения недостатков осуществляются силами и за счет продавца.