ul.steps__list
    li.stepsList__item Обратиться к продавцу с требованием о замене товара можно в течение 
        span(style="font-weight:bold") 7 дней 
        | с момента получения;
    li.stepsList__item Правила передачи товара продавцу у каждого интернет-магазина индивидуальны.