.toggler__item
    .toggler__title Что такое качественный товар?
    .toggler__content
        p.content__text Закон закрепляет, что продавец обязан передать потребителю товар, качество которого соответствует договору. Даже если покупатель на руках имеет только чек, товар должен соответствовать предъявляемым требованиям и быть пригодным по назначению.