.toggler__wrapper
    .toggler__item
        h3.toggler__title Что такое некачественный товар?
        span.toggler__check
            img(src="../img/mini-arrow.svg", alt="")
        .toggler__content
            p.content__text Товар должен соответствовать предъявляемым требованиям и быть пригодным по назначению.
            p.content__text Если товар:
            ul.content__list
                li.contentList__item имеет видимые дефекты;
                li.contentList__item не соответствует целям применения;
                li.contentList__item имеет иные характеристики, чем те, что были заявлены продавцом и т.д.
            p.content__text То такой товар может считаться некачественным.
    .toggler__item
        h3.toggler__title Перечень технически сложных товаров
        span.toggler__check
            img(src="../img/mini-arrow.svg", alt="")
        .toggler__content
            p.content__text Правила возврата технически сложного товара в магазин отличаются от стандартных. Вернуть такой товар можно лишь доказав, что он неисправен.
            a.content__link(href="../docs/doc3.pdf") (скачать полный перечень)
            include mainBtn
    .toggler__item
        h3.toggler__title Экспертиза качества товара — кто платит?
        span.toggler__check
            img(src="../img/mini-arrow.svg", alt="")
        .toggler__content
            p.content__text Платит продавец: если возник спор о причинах возникновения недостатков с покупателем.
            p.content__text Платит покупатель: если экспертиза установит, что виновником поломки товара является потребитель.