.toggler__wrapper
    .toggler__item
        h3.toggler__title Что такое качественный товар?
        span.toggler__check
            img(src="../img/mini-arrow.svg", alt="")
        .toggler__content
            p.content__text Закон закрепляет, что продавец обязан передать потребителю товар, качество которого соответствует договору. Даже если покупатель на руках имеет только чек, товар должен соответствовать предъявляемым требованиям и быть пригодным по назначению.
    .toggler__item
        h3.toggler__title Какую информацию продавец обязан донести до покупателя?
        span.toggler__check
            img(src="../img/mini-arrow.svg", alt="")
        .toggler__content
            p.content__text Закон устанавливает обязанность продавца донести до потребителя всю существенную информацию о товаре, его свойствах и особенностях использования, обеспечить безопасность товара для потребителя.
            p.content__text Обязательный перечень информации: 
                a.content__link(href="../docs/doc1.pdf" target="_blank") (скачать полный список)
    .toggler__item
        h3.toggler__title Перечень товаров, которые нельзя вернуть?
        span.toggler__check
            img(src="../img/mini-arrow.svg", alt="")
        .toggler__content
            p.content__text Товары, содержащиеся в этом перечне 
                a.content__link(href="../docs/doc2.pdf") (скачать полный список) 
                |, нельзя вернуть по причине «не подошли, разонравились, передумал». Об их возврате возможно говорить исключительно в случае претензий по их качеству.
            //- p.content__text Обязательный перечень информации: 
            //-     a.content__link(href="#") скачать полный список